.section--demovideo {
  height: 100%;
  .video__container {
    width: 80%;
    margin: 0 auto;
    // overflow: hidden;
    height: 100%;
    .video__card {
      box-shadow: 0px 0px 50px 0px rgba(34, 33, 37, 0.06);
      display: flex;

      .card__content {
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .video-button {
          width: 30%;
        }
      }

      img {
        width: 50%;
      }
    }
  }
}
