.section--demovideo {
  height: 100%;
  .video__container {
    width: 80%;
    margin: 0 auto;
    // overflow: hidden;
    .video__card {
      height: 500px;
      box-shadow: 0px 0px 50px 0px rgba(34, 33, 37, 0.06);
      display: flex;

      .card__content {
        width: 50%;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .video-button {
          width: 30%;
        }
      }

      .iframevideo {
        width: 50%;
      }
    }
  }

  @media only screen and (max-width: 576px) {
    // opacity: 0;
  }
}
