.footer__card {
	width: 30%;
	text-align: left;
	.footer__card-title {
		font-size: 16px;
		color: black;
		margin-bottom: 10px;
	}
	.footer__card-item {
		font-size: 14px;
		color: #132a3a;
		font-family: $slabo;
	}
	.footer__card-icons {
		display: flex;

		i {
			margin-right: 16px;
			font-size: 24px;
		}
	}

	@media only screen and (max-width: 576px) {
		.footer__card-item {
			display: none;
		}
	}
}
