.section--forShoppers {
	// height: 100vh;
	.message-mobile {
		display: none;
	}
	.section__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.section__message {
			width: 50%;
			text-align: center;
			h4 {
				color: $mylight-gray;
			}
		}
		.section__image {
			width: 40%;
			margin: auto;
			display: flex;
			img {
				width: 60%;
				margin: auto;
			}
		}
	}

	@media only screen and (max-width: 576px) {
		height: auto;
		.section__wrapper {
			.section__message {
				h4 {
					display: none;
				}
			}
			.section__image {
				width: 50%;
				img {
					width: 70%;
				}
			}
		}
		.message-mobile {
			margin-top: 30px;
			padding: 0px 25px;
			display: block;
			text-align: center;
			h4 {
				color: $mylight-gray;
				font-size: 16px;
			}
		}
	}
}
