.section--forPartners {
	height: 100vh;
	transform: skew(0deg, 5deg) translateY(120px);

	.section__wrapper {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		align-items: center;

		.section__message {
			transform: skew(0deg, -5deg);
			width: 50%;
			text-align: center;
		}
		.section__image {
			transform: skew(0deg, -5deg);
			width: 40%;
			margin: auto;
			display: flex;
			img {
				width: 80%;
				margin: auto;
			}
		}
	}
}
