.section {
  width: 100%;

  &.section--howitworks {
    margin-top: 50px;

    text-align: center;

    .cards {
      display: grid;
      grid-template-columns: (1fr 1fr 1fr 1fr);
      grid-column-gap: 10px;
      margin-top: 50px;
      .card {
        padding: 16px 30px 20px;
        background-color: #ecfbf83d;
        -webkit-box-shadow: 5px 7px 10px rgba(217, 229, 245, 0.3);
        -moz-box-shadow: 5px 7px 10px rgba(217, 229, 245, 0.3);
        box-shadow: 5px 7px 10px rgba(217, 229, 245, 0.3);
        color: $dark-blue;
        border-radius: 10px;
        border: 1px solid #f2f6fb;
        display: flex;
        justify-content: center;
        .card-img-top {
          border-radius: 10px 10px 0px 0px;
          width: 50px;
        }
        .card__body {
          font-family: "Roboto", sans-serif;
          text-align: initial;
          margin-top: 20px;
          h3 {
            font-size: 22px;
          }
          p {
            font-family: $font-family-base;
            color: #707070;
            line-height: 1.5;
          }
          .card-label {
            color: $dark-green;
          }
        }
      }

      @media only screen and (max-width: 576px) {
        grid-row-gap: 20px;
        grid-template-columns: auto auto;
        padding: 10px;
        .card {
          padding: 16px 10px;
          margin: auto;
          height: 190px;
          width: 90%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .card-img-top {
            width: 30px;
          }
          .card__body {
            h3 {
              font-size: 16px;
              text-align: center;
            }
            p {
              display: none;
              font-size: 14px;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 577px) and (max-width: 1025px) {
      margin-top: 0px;
      .card-text {
        display: none;
      }
    }

    @media only screen and (min-width: 1700px) {
      .container {
        max-width: 1500px !important;
      }
    }
  }
}
