.section {
	width: 100%;

	&.section--howitworks {
		margin-top: 100px;

		text-align: center;

		.cards {
			margin-top: 50px;
			display: flex;
			justify-content: space-around;
			.card {
				padding: 20px 0px;
				background-color: aliceblue;
				-webkit-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
				-moz-box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
				box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
				color: $dark-blue;
				border-radius: 10px;
				width: 22%;
				display: flex;
				justify-content: center;
				align-items: center;
				.card-img-top {
					border-radius: 10px 10px 0px 0px;
					width: 30%;
				}
				.card-body {
					display: flex;
					flex-direction: column;
					font-family: sans-serif;
					h3 {
						font-size: 24px;
					}
					p {
						line-height: 1.2;
					}
					.card-label {
						color: $green;
					}
				}
			}

			@media only screen and (max-width: 576px) {
				display: grid;
				grid-row-gap: 20px;
				grid-template-columns: auto;
				padding: 10px;
				.card {
					margin: auto;
					width: 60%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					padding-top: 20px;
					.card-img-top {
						width: 30%;
					}
					.card-body {
						h3 {
							font-size: 20px;
						}
						p {
							font-size: 14px;
						}
					}
				}
			}
		}

		@media only screen and (min-width: 577px) and (max-width: 1025px) {
			margin-top: 0px;
			.card-text {
				display: none;
			}
		}

		@media only screen and (min-width: 1700px) {
			.container {
				max-width: 1500px !important;
			}
		}
	}
}
