.section--messageleft {
	.mymessage {
		display: flex;
		justify-content: space-between;

		.image {
			transform: skew(0deg, 5deg);
		}
		.message {
			transform: skew(0deg, 5deg);
		}
	}
	#womanrun {
		position: absolute;
		opacity: 0;
	}

	@media only screen and (max-width: 576px) {
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 75px;
		.mymessage {
			display: grid;
			grid-template-areas:
				'image'
				'message';
			padding: 10px;
			.image {
				grid-area: image;
				margin: auto;
				width: 80%;
			}
			.message {
				grid-area: message;
				margin: auto;
				width: 80%;
				h2 {
					font-size: 24px;
				}
				h4 {
					font-size: 16px;
					font-size: 20px;
					color: $mydark-gray;
				}
				span {
					font-size: 14px;
				}
			}
		}
	}
}
