$primary: #01102d;
$font-family-base: 'Roboto', sans-serif;
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-monospace: 'Roboto', sans-serif;
$nav-tabs-link-active-color: red;
$nav-tabs-link-active-bg: red;
$nav-link-disabled-color: red;
$nav-pills-link-active-color: red;
$slabo: 'Slabo 13px', serif;
$dark-blue: #01102d;
$dark-green: #4bc79e;
$green: #00ffab;
$light-green: #ecfbf8;
$mylight-gray: #959795;
$mydark-gray: #707070;
$dark-blue2: #132a3a;
$carousel-control-color: black !default;
$carousel-indicator-active-bg: black !default;
